# Code owners for this repository.
#
# These owners are automatically requested for review when someone opens a
# pull request that modifies matching files.
#
# Docs: https://docs.github.com/en/repositories/managing-your-repositories-settings-and-features/customizing-your-repository/about-code-owners
#
# Order matters: the last matching pattern takes precedence.

# Default owner for everything in this repository.
*   @shinyay
